*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --cool-blue: #4386bf;
  --pinkish-grey: #c7c7c7;
  --pale-grey: #f5f6fa;
  --warm-grey: #888;
  --white: #fff;
  --very-light-pink: #c4c4c4;
  --medium-blue: #307bbe;
  --black-two: #121212;
  --azure: #0290ff;
  --white-two: #e8e8e8;
  --white-three: #fafafa;
}

body,
ul,
form {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

nav {
  display: flex;
  align-items: center;
  margin: 1.813rem 6.25rem;
  gap: 2.938rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2.563rem;
}

.brand {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  color: var(--azure);
  font-size: 1.875rem;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 0.813rem;
  color: var(--black-two);
  text-decoration: none;
  letter-spacing: 1.9px;
}

.line {
  border: 1px solid var(--white-two);
}

.book {
  display: flex;
  border: 1px solid rgb(221, 221, 221);
  margin: 1em;
  padding: 1em;
}

.book > * {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  flex-direction: column;
}

.form form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form form > * {
  flex-basis: 25%;
}